button{
    background-color: $dorado;
    color: white;
    font-weight: bold;
    box-shadow: none;
    border: none;
    border-radius: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &:hover{
        cursor: pointer;
    }
}

@keyframes loading {
    0%, 80%, 100% {
        opacity: 0;
        transform: scale(0);
    }
    40% {
        opacity: 1;
        transform: scale(1);
    }
}

.loading-button{
    animation: loading 1s infinite linear;
    font-size: 2rem;
    line-height: 0.8rem;
}

