@import 'colors';
#iniciar-sesion{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-top: 100px;
    height: 65vh;

    .login {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 1px #696969;

        .title{
            display: flex;
            width: 100%;
            justify-content: center;
            align-content: center;
            padding-bottom: 10px;
            // border-bottom: solid 1px black;
            margin: 0;
            background-color: $azul-claro;
            color: white;
        }
    }
    
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        p{
            padding-left: 1rem;
            padding-right: 1rem;
            text-align: center;
        }

        .field{
            display: flex;
            height: 1.5rem;
            justify-content: space-between;
            margin-top: 0.5rem;
            align-items: center;
        }

        input{
            color: black;
            background-color: white;
            width: 60%;
        }
    
        #input-login {
            margin-right: 32px;
        }
    
        a {
            color: black;
            margin-bottom: 10px;
        }
        
        button {
            background-color: $dorado;
            border-radius: 5px;
            border: none;
            padding: 6px 18px;
            color: white;
            font-size: 16px;
            margin: 30px 0px 10px 0px;
            border: solid 1px $dorado;
            
            &:hover {
                background-color: darken($color: $dorado, $amount: 3);
                cursor: pointer;
            }

            &:active {
                cursor: pointer;
                background-color: white;
                color: $dorado;
            }
        }

        @keyframes loading {
            0%, 80%, 100% {
                opacity: 0;
                transform: scale(0);
            }
            40% {
                opacity: 1;
                transform: scale(1);
            }
        }

        .loading{
            animation: loading 1s infinite linear;
            font-size: 2rem;
            line-height: 0.8rem;
        }

    }
    
}
