@import 'colors';

#lista-posts{
    border-style: solid;
    border-color: $dorado;
    border-width: 1px;
    margin-top: 2.5vh;
    margin-left: 5vw;
    margin-right: 5vw;

    #no-post-msg{
        padding: 2rem;
    }

    .header{
        background-color: $dorado;
        color: white;
        font-weight: bold;
        font-size: small;
    }

    .row{
        border-style: solid;
        border-color: $dorado;
        border-width: 1px;
        display: flex;
        height: max-content;
        align-items: center;
    }

    .note{
        color: $azul-oscuro;
        font-size: small;
        padding-left: 8vw;
    }

    .title{
        color: red;
        font-size: small;
        font-weight: bold;
        width: 20vw;
    }

    .subtitle{
        color: $azul-oscuro;
        font-size: small;
        font-weight: bold;
        // width: 20vw;
    }

    .center{
        display: flex;
        justify-content: center;
    }

    .input-group{
        list-style-type: none;
        display: flex;
        align-items: center;
        margin: 0;
        font-size: small;
        li{
            margin: 0.25rem 2rem 0.25rem 0rem;
            label{
                display: flex;
            }            
            .checkbox-label, button{
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                border-radius: 0.5rem;
                padding: 0.25rem 1.25rem 0.25rem 1.25rem;
                color: white;
                font-weight: bold;
                box-shadow: none;
                border-style: none;
                text-align: center;
                cursor: pointer;
            }

            &:first-child{
                .checkbox-label, button{
                    background-color: $azul-claro;
                }
            }

            &:nth-child(2){
                .checkbox-label, button{
                    background-color: $dorado;
                }
            }

            &:nth-child(3){
                .checkbox-label, button{
                    background-color: $rosa;
                }
            }

            &:nth-child(4){
                .checkbox-label, button{
                    background-color: $verde;
                }
            }

            &:nth-child(5){
                .checkbox-label, button{
                    background-color: $morado;
                }
            }
    
        }

        .input-link{
            margin: 0.125rem;
        }

        .input-link.active{
            a{
                color: black;
                text-decoration: none;
            }
        }
        
    }

    #post-group{
        display: block;
        // width: 100%;
    }

}