@import 'colors';

@mixin item-text{
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25vw;
    text-indent: 0;
    text-align: left;

    &:hover{
        color: $amarillo;
        text-decoration: underline;
        cursor: pointer;
    }
}

.navbar {
    background-color: $azul-claro;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: normal;
    height: 8vh;
    
    .list {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: max-content;
        
        .item {
            padding-left: 0.75rem;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            margin: 0 0;
            width: 100%;

            .link {
                @include item-text;
            }

        }

        .dropdown{

            .label{
                display: flex;
                justify-content: space-between;
                align-items: start;
                height: 100%;
                margin: 0;
                padding: 0;
                button{
                    @include item-text;
                    background-color: rgba(0,0,0,0);
                    box-shadow: none;
                    border: 0;
                    margin: 0;
                    padding: 0;
                }
                p{
                    position: relative;
                    margin-top: -0.05rem;
                }
            }
            .list{
                display: none;
                position: absolute;
                // margin-top: 2.5%;
                background-color: $azul-claro;
                width: 20%;
            }
            .show{
                display: block;
                .item{
                    .link{
                        @include item-text;
                    }
                    
                }
                &~.label{
                    button{
                        color: $amarillo;
                        text-decoration: underline;
                    }
                }
            }
            .dropdown{
                padding-left: 0.75rem;
                width: 95%;
                .list{
                    margin-left: 90%;
                    margin-top: -12.5%;
                    width: 20vw;
                }
                .label{
                    height: 3vh;
                    width: 95%;
                }
            }
        }

    }
}