@import 'colors';

@mixin item-text{
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25vw;
    text-indent: 0;
    text-align: left;

    &:hover{
        color: $amarillo;
        text-decoration: underline;
        cursor: pointer;
    }
}

.navbar {
    color: white;
    background-color: $azul-claro;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: normal;
    height: 8vh;
    
    .list {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: max-content;
        
        .item {
            padding-left: 0.75rem;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            margin: 0 0;
            width: 100%;

            .link {
                @include item-text;
            }

        }

        .dropdown{

            .label{
                display: flex;
                justify-content: space-between;
                align-items: start;
                height: 100%;
                margin: 0;
                padding: 0;
                button{
                    @include item-text;
                    background-color: rgba(0,0,0,0);
                    box-shadow: none;
                    border: 0;
                    margin: 0;
                    padding: 0;
                }
                p{
                    position: relative;
                    margin-top: -0.05rem;
                }
            }
            .list{
                display: none;
                position: absolute;
                // margin-top: 2.5%;
                background-color: $azul-claro;
                width: 20%;
            }
            .show{
                display: block;
                .item{
                    .link{
                        @include item-text;
                    }
                    
                }
                &~.label{
                    button{
                        color: $amarillo;
                        text-decoration: underline;
                    }
                }
            }
            .dropdown{
                padding-left: 0.75rem;
                width: 95%;
                .list{
                    margin-left: 90%;
                    margin-top: -12.5%;
                    width: 20vw;
                }
                .label{
                    height: 3vh;
                    width: 95%;
                }
            }
        }

    }
}

.user{
    display: flex;
    justify-content: end;
    font-size: x-small;
    font-weight: bold;
    line-height: 0.75rem;
    .card{
        margin-right: 1vw;
        display: flex;
        img{
            height: 6vh;
            margin-top: 1vh;
            margin-right: 5%;
        }
        .info{
            display: flex;
            align-items: end;
            padding-bottom: 0.5vh;
        }
    }
    .dropdown{
        // margin-right: 1vw;
        margin-left: 1vw;
        border-radius: 10% 10% 0 0;
        color: white;
        background-color: $dorado;
        margin-top: 2.5vh;
        height: 4.5vh;
        width: 12vw;
        .label{
            height: 100%;
            font-size: small;
            display: flex;
            line-height: normal;
            padding: 0;
            margin: 0;
            justify-content: space-between;
            p{
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
            }

            .arrow{
                width: 0;
                margin-right: 1vw;
            }

        }
        .list{
            list-style-type: none;
            display: none;
            position: absolute;
            // margin-top: 2.5%;
            background-color: white;
            width: 20%;
            margin: 0;
            padding: 0;
        }
        .show{
            display: block;
            .item{
                border-style: solid;
                border-color: $dorado;
                border-width: 0.1rem;
                width: 100%;
                height: 100%;
                text-decoration: none;
                .link{
                    display: block;
                    color: black;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: x-small;
                    text-indent: 0;
                    text-align: left;
                    padding: 0.25rem;
                    padding-bottom: 0.6rem;
    
                    &:hover{
                        background-color: $dorado;
                        color: white;
                        cursor: pointer;
                    }
                }
                
            }
            &~.label{
                button{
                    color: $amarillo;
                    text-decoration: underline;
                }
            }
        }
    }
}