@import 'colors';

@mixin item-text{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    text-indent: 0;
    text-align: left;

    &:hover{
        color: $amarillo;
        text-decoration: underline;
        cursor: pointer;
    }
}

.navbar {
    background-color: $azul-claro;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: normal;
    
    .list {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        .item {
            padding-left: 0.75rem;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            margin: 0 0;
            width: 100%;

            .link {
                @include item-text;
                // display: flex;
            }

        }

        .dropdown{
            .label{
                display: flex;
                justify-content: space-between;
                align-items: start;
                button{
                    @include item-text;
                    background-color: rgba(0,0,0,0);
                    box-shadow: none;
                    border: 0;
                }
            }
            .list{
                display: none;
                position: absolute;
                background-color: $azul-claro;
                width: 15%;
            }
            .show{
                display: block;
                .item{
                    .link{
                        @include item-text;
                    }
                    
                }
            }
        }

    }
}