@import 'colors';
@import 'general';

#nuestros-servicios{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: 5vw;
    // padding-top: 1rem;

    .info{
        width: 90%;
        margin-top: 2rem;
        .note-title{
            color: blue;
            font-weight: bold;
        }
        ol{
            margin-top: 0;
            list-style: none; /* Remove default numbering style */
            counter-reset: my-counter; /* Reset the counter */
            li:before {
                content: counter(my-counter) "- "; /* Add counter value and hyphen before each list item */
                counter-increment: my-counter; /* Increment the counter */
            }
        }
    }

    #opciones{
        width: 90%;
        .label{
            font-weight: bold;
            margin-top: 0.5rem;
            .required{
                color: red;
            }
        }
        #botones{
            width: 100%;
            display: flex;
            justify-content: space-around;
            .button_dropdown{
                // display: flex;
                button{
                    width: 35vw;
                    height: 3rem;
                }
            }
            .button_dropdown_content{
                display: flex;
                justify-content: space-around;
                button{
                    margin-top: 0.5rem;
                    background-color: $rosa;
                    width: 15vw;
                }
            }
        }
    }

    #more-options{
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: 1fr 4fr;
        width: 70%;
        row-gap: 1rem;
        column-gap: 5vw;
        align-items: center;
        button{
            height: 3rem;
        }
    }

    // background-color: red;
}