@import 'colors';

.registrar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.indicaciones{
    border-style: solid;
    border-width: 2px;
    border-color: $azul-oscuro;
    width: 80vw;
    padding: 0.5rem;

    span{
        color: $rojo;
    }

    .indicacion{
        color: black;
    }

}

.fases-grid{
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    display: grid;
    gap: 0.25rem;
    grid-template-columns: repeat(3, 1fr);
    width: 50vw;

    .fase{
        background-color: $verde;
        box-shadow: none;
        border-style: none;
        border-radius: 0.5rem;
        height: 2.5rem;
        cursor: pointer;

        &.inactive{
            background-color: $gris;
            cursor: initial;
        }

        &.current{
            text-decoration: underline;
            cursor: initial;
        }
    }
}

.fase-actual{
    width: 75vw;
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
    gap: 1rem;
    height: 8vh;
    span{
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $azul-claro;
        border-radius: 0.3rem;
        color: white;
        font-weight: bold;
    }

    button{
        background-color: $rojo;
        box-shadow: none;
        border: none;
        border-radius: 0.3rem;
        cursor: pointer;
    }

}

.fase0{

    .descripcion{
        margin-top: 1rem;
    }
    
    .metodos-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 90vw;
        margin-top: 1rem;
    }
    
    #social-network{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .metodo{
        padding-left: 35%;
    }

}

.fase1{
    border-style: solid;
    border-color: $azul-oscuro;
    width: 90vw;
    margin-top: 1rem;
    #tipo_usuario{
        width: 50%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
        margin-top: 1rem;
        margin-left: 3vw;
    }
    .container{
        width: 100%;
        padding-left: 3vw;
    }
    .tipo_telefono{
        background-color: $dorado;
        padding: 0.25rem;
        color: white;
        font-weight: bold;
        width: 15vw;
        display: flex;
        justify-content: center;
    }

    #telefono_container{
        display: flex;
        margin-left: 2vw;
        label{
            display: flex;
            margin-right: 3rem;
        }
    }

    #usuario_natural{
        margin-left: 8vw;
        .field{
            margin-left: 2vw;
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 45%;
            margin-bottom: 0.25rem;
            .label{
                font-weight: 600;
                .required{
                    color: $rojo;
                }
            }
        }
        #telefono_field{
            margin-top: 1rem;
            padding-left: 1.25rem;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            
            input{
                height: 1rem;
            }

            label{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 0.5rem;
            }
        }
    
        #telefono_codigo{
            width: 3rem;
        }

        #telefono_ext{
            width: 3rem;
        }
    }

    .note{
        margin-left: 4vw;
        color: $azul-oscuro;
        font-size: 0.9rem;
        margin-top: 0.25rem;
        margin-bottom: 0.5rem;
    }


}

.ghost{
    visibility: hidden;
}