@import 'colors';

#SolicitarNi単era{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
}

.indicaciones{
    margin-top: 1vh;
    width: 90%;
}

.blue{
    color: blue;
}
.red{
    color: $rojo;
}
.rosa{
    color: $rosa;
}


#panel-opciones {
    $margen: 10vh;
    margin-left: $margen;
    margin-right:$margen;
    margin-top: 0.8vh;
    margin-bottom: 0.1vh;

    span{
        height: 3vh;
        margin: 0;
        width: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 176, 240);
        border-radius: 0.3rem;
        color: white;
        font-weight: bold;
    }
}

#titulo{
    text-align: center;
}
#info-ni単era{
    
    height: 35vh;
    width: auto;
    padding-left: 20%;
    border-style: solid;
    border-width: 2px;
    border-color: $azul-oscuro;
    width: 80vw;

    .indicacion{
        color: black;
    }

    #ni単era h2{
        margin-left: 1vh;
    }
        
    #n-ni単era h2{
        align-items: center;
    }
    
    #img{
        height: 15vh;
        width: auto;
        max-width: 15vh;
        border: solid $azul-oscuro;
        border-width: thin;
        margin-top: 3vh;
    }


    img{
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        display: block; /* remove extra space below image */
    }
    

    #info-personal{

        display: flex;
        flex-wrap: wrap;
        width: auto;
        margin-left: 0px;

        div{
            margin-left: 0px;
        }

        .first-column{
            width: 45%;
            
            text-align: center;
            margin-top: 1px;
            
            
            h4{
                background-color: $dorado;
                
            }
        }

        .second-column{
            width: 50%;
            margin-left: 1vh;
        }
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        
        div{
            flex-flow: row wrap;
            width: 30%;
            margin-left: 1vh;
        }

        .first-column{
            width: 22%;
        }
    
        .first-row{
            margin-bottom: 0.5vh;
            height: 5vh;
        }

        .second-row{
            height: 20vh;
           
        }
    }    
}

#fase0{
    display: flex;
    flex-flow: column;
    width: 50vw;
    align-self: center ;
    font-size: 16px;
    div {

        h2 {
            margin: 0;
            font-size: 1.3em;
            span {
                font-size: 16px;
            }
        }
        .form{
            max-width: 45vw;
            display: flex;
            flex-wrap: nowrap;
            width: auto;

            div{
                margin-left: 4vh;
                margin-top: 0vh;
                label {
                    
                    input {
                        width: 5rem;
                    }
                }
                
            }
        }     
    }

    #small{
        font-size: medium;
        
        p{
            margin-bottom: 0;
        }
    }

}


#fase1{
    display: flex;
    width: 50vw;
    flex-direction: column;

    .bold {
        font-weight: bold;
    }

    #small{
        margin-top: 2vh;
        font-size: medium;
        
        p{
            margin-bottom: 0;
        }
    }

    #formulario{
        padding-left: 4vh;
        display: flex;
        flex-wrap: wrap;
        width: auto;
        div{
            width: 50%;
            padding-top: 1vh;
            padding-bottom: 1vh;
        }
    }
}



#fase2{
    display: flex;
    width: 50vw;
    flex-direction: column;

    .bold {
        font-weight: bold;
    }
    
    #titulos{
        margin-top: 2vh;
    }

    #small{
        text-align: center;
        margin-top: 2vh;
        font-size: medium;
        align-items: center;
        p{
            margin-bottom: 0;
        }
    }

    /*#peq{
        margin-top: 2vh;
        font-size: medium;
        align-items: center;
        p{
            margin-bottom: 0;
        }
    }

    div h2{
        display: inline;
    }*/
    div {
        .form{
            display: flex;
            flex-flow: column;
            align-items: left;

            div {
                margin-top: 1rem;
                
                input {
                    margin-left: 5px;
                }

                .ml {
                    margin-left: 20px;
                }

                &:nth-child(2){
                    display: flex;
                    
                    label {
                        margin-left: 2rem;
                    }
                }
            }
            textarea {
                border-color: blue;
                height: 12vh;
                overflow-y: scroll;
                width: 90%;
                resize: none; /* Remove this if you want the user to resize the textarea*/
            }
            
        }
    }


}

#fase3{
    display: flex;
    width: 50vw;
    flex-direction: column;
    
    #titulos{
        margin-top: 2vh;
    }

    #small{
        text-align: left;
        margin-top: 2vh;
        font-size: medium;
        align-items: center;
        p{
            margin-bottom: 0;
        }
    }

    #peq{
        margin-top: 2vh;
        font-size: medium;
        align-items: center;
        p{
            margin-bottom: 0;
        }
    }

    div h2{
        display: inline;
    }

    #form{
        margin-top: 1vh;
        display: flex;
        flex-flow: column;
        align-items: left;
    }
    textarea {
        border-color: blue;
        height: 12vh;
        overflow-y: scroll;
        width: 90%;
        resize: none; /* Remove this if you want the user to resize the textarea */
    }
}


#fase4{
    display: flex;
    width: 50vw;
    flex-direction: column;
    
    #titulo{
        margin-top: 2vh;
        text-align: left;
    }

    #small{
        text-align: left;
        margin-top: 2vh;
        font-size: medium;
        align-items: center;
        p{
            margin-bottom: 0;
        }
    }

    #peq{
        margin-top: 2vh;
        font-size: medium;
        align-items: center;
        p{
            margin-bottom: 0;
        }
    }

    div h2{
        display: inline;
    }

    #form{
        margin-top: 1vh;
        display: flex;
        flex-flow: column;
        align-items: left;
    }
    textarea {
        border-color: blue;
        height: 12vh;
        overflow-y: scroll;
        width: 90%;
        resize: none; /* Remove this if you want the user to resize the textarea */
    }

    #contenido{
        margin-left: 2vh;
    }
}

#fase5{
    display: flex;
    flex-flow: column;
    width: 60vw;
    
    align-self: center ;

    .form{
        max-width: 45vw;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        div{
            
            margin-left: 4vh;
            margin-top: 1vh;
        }
    }

    #form-vertical{
        display: flex;
        flex-flow: column;
    }

    div h2{
        display: inline;
        
    }

    .titulos{
        margin-top: 3vh;
        margin-bottom: 2vh;
    }

    textarea {
        border-color: blue;
        height: 12vh;
        overflow-y: scroll;
        width: 90%;
        resize: none; /* Remove this if you want the user to resize the textarea */
    }
    


    #row{
        display: flex;
        flex-flow: row;
        width: 100%;
        div{
            width: 50%;
        }

        #der{
            width: 100%;

        }
    }

}


#fase6{
    display: flex;
    flex-flow: column;

    margin-bottom: 4vh;

    #small{
        margin-top: 3vh;
        text-align: center;
    }

    #titulo{
        margin-top: 2vh;
    }

    #form-vertical div {
            margin-top: 1vw;
            margin-left: 2vw;
        
    }

    #form{
        display: flex;
        flex-flow: row;
        div{
            width: 50%;
            input{
                padding-top: 0;
            }
        }

    }
}

#fase7{
    margin-top: 2vh;
    display: flex;
    flex-flow: column;
    width: 60vw;
    
    .small{
        font-size: medium;
        margin-left: 4vw;
    }

    .form-vertical div {
        margin-top: 1vw;
        margin-left: 1.5vw;
        width: 100%;
    }

    #form{
        display: flex;
        flex-flow: row;
        
      
    }
    .col{
        width: 50%;
    }

    .titulo{
        h2
        {display: inline;}
    }

}


#fase8{
    display: flex;
    flex-flow: column;

    #form-horizontal{
        display: flex;
        flex-flow: row;
        
        #segundo{
            margin-left: 2vw;
        }
    }

    #selects{
        margin-left: 2vw;
        div{
            margin-top: 2vh;

            p{
                display: inline;
                margin-right: 2vw;
            }
        }
    }

    button{
        color: white;
        background-color: $dorado;
        font-weight: bold;
        padding: 0.5rem;
        box-shadow: none;
        border: none;
        border-radius: 0.25rem;
        margin-left: 1vw;
        cursor: pointer;
    }
}



#fase9{
    display: flex;
    flex-flow: column;
    width: 40vw;
    margin-top: 2vh;
    li{
        margin-top: 2vh;
    }
}

#fase10{
    display: flex;
    flex-flow: column;
    width: 40vw;
    margin-top: 2vh;
    li{
        margin-top: 2vh;
    }
}

#fase11{
    display: flex;
    flex-flow: column;
    width: 40vw;
    margin-top: 2vh;
    li{
        margin-top: 2vh;
    }

    div p{
        margin-left: 1vw;
    }
}

#fase12{
    display: flex;
    flex-flow: column;
    width: 40vw;
    margin-top: 2vh;
}

#fase13{
    display: flex;
    flex-flow: column;
    width: 50vw;
    margin-top: 2vh;

    #first-column{
        width:30%;
    }

    #second-column{
        width:70%;
    }

    #less-margin{
        margin-bottom: 0;
    }

    #form-vertical{
        display: flex;
        flex-wrap: wrap;
        div{
            width: 50%;

            h3{
                margin-top: 0;
            }
        }
    }

    #two-columns{
        margin-top: 2vh;
        display: flex;
        flex-wrap: wrap;
    }

    .blue-box{
        background-color: $azul-oscuro;
        color: white;
        font-weight: bold;
        padding: auto;
        text-align: center;
    }

    #small{
        text-align: center;
    }

    #bancos{
        width: 80%;   
    }

    .dropdown-title{
        cursor: pointer;
        border-style: solid;
        border-radius: 0.5rem;
        border-width: 0.2rem;
        border-color: $azul-claro;
        padding: 0.5rem;
        font-weight: bold;
        .dropdown-arrow{
            color: $dorado;
        }
    }

    .dropdown-content{
        width: 40%;
        
        border-width: 0.2rem;
        border-color: $azul-claro;
        padding: 0.5rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2vw;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 2vh;
        .field{
            // background-color: red;
            
            .field-title{
                background-color: $azul-oscuro;
                color: white;
                display: flex;
                justify-content: center;
                border-radius: 0.25rem;
            }
            .field-content{
                padding: 0.2rem;
                font-size: small;
                .field-radio-item{
                    list-style-type: none;
                }
            }
            .field-content-radio{
                margin-top: 0;
            }
            .field-dropdown{
                .field-dropdown-title{
                    font-size: small;
                    color: $gris-oscuro;
                    border-style: solid;
                    border-width: 0.2rem;
                    border-radius: 0.25rem;
                    border-color: $gris;
                    display: flex;
                    justify-content: space-between;
                    padding-left: 0.25rem;
                    padding-right: 0.25rem;
                    margin-top: 0.25rem;
                    cursor: pointer;
                }
                .field-dropdown-content{
                    margin-top: 0;
                    position: absolute;
                    width: 19vw;
                    max-height: 30vh;
                    color: $gris-oscuro;
                    border-color: $gris;
                    border-style: solid;
                    border-width: 0.2rem;
                    padding: 0;
                    overflow-y: scroll;
                    .field-dropdown-item{
                        list-style-type: none;
                        background-color: white;
                        width: 100%;
                        font-size: small;
                        &:hover{
                            background-color: $gris;
                            cursor: pointer;
                        }
                        label{
                            width: 100%;
                            background-color: red;
                        }
                    }
                }
                
            }
            .field-range-input{
                margin-top: -0.5rem;
                width: 100%;
                display: flex;
                justify-content: space-around;
                input{
                    width: 4.5rem;
                }
            }
            .field-spec{
                padding-top: 0.5rem;
                input{
                    width: 4rem;
                    margin-left: 0.5rem;
                }
            }
        }
        button{
            color: white;
            background-color: $dorado;
            font-weight: bold;
            padding: 0.5rem;
            box-shadow: none;
            border: none;
            border-radius: 0.25rem;
            // margin-top: 10vh;
            cursor: pointer;
        }
    }
}

.dropdown{
    width: auto;
    
    // margin-bottom: 1.5rem;
    
    .dropdown-title{
        cursor: pointer;
        border-style: solid;
        border-radius: 0.5rem;
        border-width: 0.2rem;
        border-color: $azul-claro;
        padding: 0.5rem;
        font-weight: bold;
        .dropdown-arrow{
            color: $dorado;
        }
    }

    .dropdown-content{
        margin-top: 2vh;
        
        border-width: 0.2rem;
        border-color: $azul-claro;
        padding: 0.5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2vw;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 2vh;
        .field{
            // background-color: red;
            
            .field-title{
                background-color: $azul-oscuro;
                color: white;
                display: flex;
                justify-content: center;
                border-radius: 0.25rem;
            }
            .field-content{
                padding: 0.2rem;
                font-size: small;
                .field-radio-item{
                    list-style-type: none;
                }
            }
            .field-content-radio{
                margin-top: 0;
            }
            .field-dropdown{
                .field-dropdown-title{
                    font-size: small;
                    color: $gris-oscuro;
                    border-style: solid;
                    border-width: 0.2rem;
                    border-radius: 0.25rem;
                    border-color: $gris;
                    display: flex;
                    justify-content: space-between;
                    padding-left: 0.25rem;
                    padding-right: 0.25rem;
                    margin-top: 0.25rem;
                    cursor: pointer;
                }
                .field-dropdown-content{
                    margin-top: 0;
                    position: absolute;
                    width: 19vw;
                    max-height: 30vh;
                    color: $gris-oscuro;
                    border-color: $gris;
                    border-style: solid;
                    border-width: 0.2rem;
                    padding: 0;
                    overflow-y: scroll;
                    .field-dropdown-item{
                        list-style-type: none;
                        background-color: white;
                        width: 100%;
                        font-size: small;
                        &:hover{
                            background-color: $gris;
                            cursor: pointer;
                        }
                        label{
                            width: 100%;
                            background-color: red;
                        }
                    }
                }
                
            }
            .field-range-input{
                margin-top: -0.5rem;
                width: 100%;
                display: flex;
                justify-content: space-around;
                input{
                    width: 4.5rem;
                }
            }
            .field-spec{
                padding-top: 0.5rem;
                input{
                    width: 4rem;
                    margin-left: 0.5rem;
                }
            }
        }
        button{
            color: white;
            background-color: $dorado;
            font-weight: bold;
            padding: 0.5rem;
            box-shadow: none;
            border: none;
            border-radius: 0.25rem;
            // margin-top: 10vh;
            cursor: pointer;
        }
    }

}

