@import 'colors';


#publicacion-creada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .encabezado-perfil{
        display: grid;
        grid-template-columns: 25% 50% 25%;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 100%;
        
    }
    .foto{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .informacion-perfil{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }
    .informacion-pais{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        width: 100%;
    }
    .span-01{
        color:$azul-oscuro;
        font-size: 1.2em;
        font-weight: bold;

    }
    .titulo{
        background-color: $dorado;
        border: 1px $dorado solid;
        width: 100%;
        margin: 0.2em;
    }
    .container-span{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }
    .container-01{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }
    .informacion-basica{
        display: grid;
        grid-template-rows: repeat(2, auto);
        align-items: center;
        width: 95%;
    }
    .titulo-02{
        background-color: $azul-oscuro;
        border: 1px $azul-oscuro solid;
        width: 100%;
        h1{
            display: flex;
            margin: 0;
            justify-content: center;
            align-items: center;
            color:  #FFFFFF;
            padding: 1em 0em;
        }
    }
}